.edit_page{
  display: flex;
  flex-wrap: nowrap;
}

.main-part{
  flex: 0 0 25%;
  background-color: #d1fdff;
  height: 90vh;
}

p {
  background-color: aqua;
  cursor: text;
}

.html_map {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 0.5rem;
}

.row{
  display: flex;
  flex-direction: row;
}

.html_map:has(.slot[data-swapy-highlighted]){
  .row:not(:has(.slot[data-swapy-highlighted])){
    .slot{
      flex: 0 0 50%;
      min-height: 100px;
      .hiden_item{
        background-color: #d1fdff;
      }
    }
  }
}

.row:has(.slot .hiden_item) {
  .slot:has(.item) {
    flex: 0 0 100%;
  }
}

.row:not(:has(.slot .hiden_item)) {
  .slot {
    flex: 0 0 50%;
  }
}


.slot[data-swapy-highlighted] {
  background: rgba(133, 133, 133, 0.3);
}

.item {
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 6px;
  cursor: grab;
  box-sizing: border-box;
}


.item[data-swapy-dragging] {
  cursor: grabbing;
}

.hiden_item {
  background-color: #f1f1f1;
  border-radius: 6px;
  width: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.row{
  min-height: 200px;
  background-color: antiquewhite;
}

.row-handler{
  background-color: black;
  color: #d1fdff;
}
