@use "./variables" as *;

html{
    justify-items: center;
}

body{
    margin: 0%;
    max-width: 2084px;
    a{
        display: flex;
        align-items: center;
        text-decoration: none
    }

    background-color: $primary-white;
}